{% extends 'base.html' %}
{% block content %}
    

    <h1>September Events</h1>
    <br>
    <b>
    <form action="/events" method="post" class="form">
    
    <label for="date">Date</label>
    <input type="text" name="date" id="date">

    <label for="name">Name</label> 
    <input type="text" name="name" id="name">

    <label for="number of guests">Number of Guests</label>
    <input type="text" name="number of guests" id="number of guests">

    <label for="location">Location</label>
    <input type="text" name="location" id="Location">

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="20" rows="4"></textarea>
    </b>
    <br>
    <br>
    <input class="button" type="submit" value="Add Event">
</form>
    <br>
    <br>
    {% for event in events %}
        <div>
            <p>
               <b>Date: {{ event.date }} <pre></pre> Name: {{ event.name_of_event }} <pre></pre></b><b>Number of guests: {{ event.number_of_guests }} <pre></pre></b><b>Location: {{ event.room_location }}, </b><b>{{ event.description }}</b>
            </p>
        </div>
        <br>
            
    {% endfor %}
{% endblock content %}
  